build/
install/
log/
/src/
__pycache__/

*.db3
*.csv
*.mp4
*.gif
*.pcd
exp/
videos/
rviz/
out_*/
plio_*/
go2_run*/
rosbag2_*/
traj_*/
expA_*/

*.png
!results/*.png
*.bak
go2_outdoor_*/
_deprecated/
_deprecated/
go2_corridor*/
*.bak_*
docs/QUESTIONS.md
!docs/**/*.png
